.header-container {
    background: linear-gradient(to bottom, #453778, #000000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}
.list{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.navbar{
    margin-left: auto;
    display: flex;    
}
.header-li{
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
}
.header-li > a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.header-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
}