body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contact-container{
    text-emphasis-color: black;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 0 10px rgba(13, 13, 14, 0.288);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0)

}

label {
    display: block;
    margin-bottom: 4px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1e46c9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1620ac;
}
