/* custom-dat-gui.css */
.dg .cr {
    font-size: 12px; /* Adjust the font size as needed */
  }
  
  .dg .cr .property-name {
    font-size: 12px; /* Adjust the font size as needed */
  }
  
  .dg .cr .c {
    font-size: 12px; /* Adjust the font size as needed */
  }