html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.simulation{
    width: 100%;
    height:100%;
}
.canvas-container{
    margin:0;
    padding:0;
    overflow: hidden
}